

* {
  max-width: 1920px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .carousel-container {
    display: flex;
    width: 378px;
    height: 378px;
  }
  
  .carousel-track {
    display: flex; /* Arrange items in a row */
    animation: scroll 3s normal infinite steps(180) ;
     /* Adjust duration as needed */
  }
  
  .carousel-item {
    min-width: 1920px; /* Each item takes full width */
    width:378px; 
    height:378px;
    flex: 0 0 auto; /* Prevent items from shrinking */
    padding: 0 0px; /* Add padding between items if needed */
  }
  
  .carousel-item img {
    background-color: blueviolet;
    max-width: 100%;
    max-height: 100%;
    
    height: auto;
    width: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start from initial position */
    }

    100% {
      transform: translateX(-100%); /* Translate all items to the left */

    }
    
  }